<section class="subscribe section-padding" id="help_me">
  <div class="container">
  	<div class="row">
  		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    		<h1 class="text-center"><i class="fa fa-paper-plane"></i><span>{{ page.header.title }}</span></h1>
    		{{ page.content }}
    		<div id="short-contact-form-result" class="hidden"></div>
    	</div>
    </div>
  </div>
</section>
